<h1 class="title">NgLazyImage Demo</h1>

<img src="assets/img/dog.jpg" alt="Golden Retriever" lazy (willLoad)="onImgWillLoad(1)" (load)="onImgLoad(1)"
  (error)="onImgError()">

<img src="assets/img/dog.jpg" alt="Golden Retriever" lazy (willLoad)="onImgWillLoad(2)" (load)="onImgLoad(2)"
  (error)="onImgError()">

<img src="assets/img/dog.jpg" alt="Golden Retriever" lazy (willLoad)="onImgWillLoad(3)" (load)="onImgLoad(3)"
  (error)="onImgError()">

<img src="assets/img/dog.jpg" alt="Golden Retriever" lazy (willLoad)="onImgWillLoad(4)" (load)="onImgLoad(4)"
  (error)="onImgError()">

<img src="assets/img/dog.jpg" alt="Golden Retriever" lazy (willLoad)="onImgWillLoad(5)" (load)="onImgLoad(5)"
  (error)="onImgError()">